@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1E1E1E; /* aw-black */
}

@theme {
  --color-aw-black: #1E1E1E;
  --color-aw-green: #29FE29;
  --color-aw-blue: #2C76FF;
  --color-aw-soft-gray: #F5F5F5;
  --color-aw-blue-tint: #EFFBFF;
  --color-aw-deep-gray: #1A1A1A;
  --color-aw-yellow: #FFDE59;
  --color-aw-coral: #FF5C5C;
  
  --font-sans: var(--font-noto-sans);
  --font-inter: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
}
